@using Monkey.Core.Constants
@using Puppy.Web.HtmlHelperUtils
@model Monkey.Core.Models.Auth.ClientCreateModel
@{
    ViewData[Constants.ViewDataKey.Title] = "Monkey | Portal - Client - Add";
}

<div class="page-header">
    <h1 class="page-title">Add Client</h1>
</div>
<div class="page-content">
    <div class="row">
        <div class="col-lg-6 center-col">
            <div class="panel">
                <div class="panel-body">
                    <form asp-controller="Client" asp-action="SubmitAdd" method="post" enctype="multipart/form-data" asp-antiforgery="true" role="form">

                        <div class="form-group form-material" data-plugin="formMaterial">
                            <label asp-for="Name" class="form-control-label" for="@nameof(Model.Name)"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name"></span>
                        </div>

                        <div class="form-group form-material" data-plugin="formMaterial">
                            <label asp-for="Domains" class="form-control-label" for="@nameof(Model.Domains)"></label>
                            <input asp-for="Domains" class="form-control" />
                            <small class="text-help">@Html.DescriptionFor(model => model.Domains)</small>
                            <span asp-validation-for="Domains"></span>
                        </div>

                        <div class="form-group form-material" data-plugin="formMaterial">
                                <label asp-for="Type" class="form-control-label" for="@nameof(Model.Type)"></label>
                                <select asp-for="Type" asp-items="@typeof(Enums.ClientType).GetEnumSelectList(Model.Type.ToString())" class="form-control"></select>
                                <span asp-validation-for="Type"></span>
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-material">
                                <a class="btn btn-default ladda-button btn-block" data-style="slide-right" data-plugin="ladda" href="@Url.AbsoluteAction("Index", "Client")">
                                    <span class="ladda-label">
                                        <i class="icon md-long-arrow-left mr-10" aria-hidden="true"></i>Back
                                    </span>
                                </a>
                            </div>
                            <div class="col-md-6 form-material">
                                <button type="submit" class="btn btn-primary ladda-button btn-block" data-style="slide-right" data-plugin="ladda">
                                    <span class="ladda-label">
                                        <i class="icon md-plus mr-10" aria-hidden="true"></i>Add
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>