@using Monkey.Core.Constants
@using Puppy.Web.HtmlHelperUtils
@model Monkey.Core.Models.Auth.ClientUpdateModel
@{
    ViewData[Constants.ViewDataKey.Title] = "Monkey | Portal - Client - Edit";
}

<div class="page-header">
    <h1 class="page-title">Edit Client</h1>
</div>
<div class="page-content">
    <div class="row">
        <div class="col-lg-6 center-col">
            <div class="panel">
                <div class="panel-body">
                    <form asp-controller="Client" asp-action="SubmitEdit" method="post" enctype="multipart/form-data" asp-antiforgery="true" role="form">
                        @Html.AntiForgeryToken()

                        <input type="hidden" asp-for="Id" />

                        <div class="form-group form-material" data-plugin="formMaterial">
                            <label asp-for="Name" class="form-control-label" for="@nameof(Model.Name)"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name"></span>
                        </div>

                        <div class="form-group form-material" data-plugin="formMaterial">
                            <label asp-for="Domains" class="form-control-label" for="@nameof(Model.Domains)"></label>
                            <input asp-for="Domains" class="form-control" />
                            <small class="text-help">@Html.DescriptionFor(model => model.Domains)</small>
                            <span asp-validation-for="Domains"></span>
                        </div>

                        <div class="form-group form-material" data-plugin="formMaterial">
                            <label asp-for="Type" class="form-control-label" for="@nameof(Model.Type)"></label>
                            <select asp-for="Type" asp-items="@typeof(Enums.ClientType).GetEnumSelectList(Model.Type.ToString())" class="form-control"></select>
                            <span asp-validation-for="Type"></span>
                        </div>

                        <div class="checkbox-custom checkbox-primary">
                            @if (Model.IsBanned)
                            {
                                <input asp-for="IsBanned" type="checkbox" class="form-control" checked="checked" />
                            }
                            else
                            {
                                <input asp-for="IsBanned" type="checkbox" class="form-control" />
                            }
                            <label asp-for="IsBanned" class="form-control-label" for="@nameof(Model.IsBanned)"></label>
                            <span asp-validation-for="IsBanned"></span>
                        </div>

                        <div class="form-group form-material" data-plugin="formMaterial">
                            <label asp-for="BannedRemark" class="form-control-label" for="@nameof(Model.BannedRemark)"></label>
                            <input asp-for="BannedRemark" class="form-control" />
                            <span asp-validation-for="BannedRemark"></span>
                        </div>

                        <div class="row">
                            <div class="col-xs-8 center-col col-md-6 form-group form-material">
                                <a class="btn btn-default ladda-button btn-block" data-style="slide-right" data-plugin="ladda" href="@Url.AbsoluteAction("Index", "Client")">
                                    <span class="ladda-label">
                                        <i class="icon md-long-arrow-left mr-10" aria-hidden="true"></i>Back
                                    </span>
                                </a>
                            </div>
                            <div class="col-xs-8 center-col col-md-6 center-col form-group form-material">
                                <button type="submit" class="btn btn-primary ladda-button btn-block" data-style="slide-right" data-plugin="ladda">
                                    <span class="ladda-label">
                                        <i class="icon md-check mr-10" aria-hidden="true"></i>Save
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6 center-col">
            <div class="panel">
                <div class="panel-body">
                    <div class="form-group form-material" data-plugin="formMaterial">
                        <label asp-for="Subject" class="form-control-label" for="@nameof(Model.Subject)"></label>
                        <input asp-for="Subject" class="form-control" readonly="readonly" />
                        <span asp-validation-for="Subject"></span>
                    </div>

                    <div class="form-group form-material" data-plugin="formMaterial">
                        <label asp-for="Secret" class="form-control-label" for="@nameof(Model.Secret)"></label>
                        <input asp-for="Secret" class="form-control" readonly="readonly" />
                        <span asp-validation-for="Secret"></span>
                    </div>

                    <div class="row">
                        <div class="center-col col-md-6">
                            <button type="button"
                                    data-plugin="confirm"
                                    data-confirm-title="ARE YOU SURE?"
                                    data-confirm-message="Are you sure that you want to generate new secret?"
                                    data-confirm-yes-title="Generated!"
                                    data-confirm-yes-message="Generate new secret for the client successful"
                                    data-confirm-yes-callback="generateSecret('@Model.Id')"
                                    data-confirm-no-title="Cancelled"
                                    data-confirm-no-message="The client is safe :)"
                                    class="btn btn-primary btn-block">
                                <i class="icon md-refresh mr-10" aria-hidden="true"></i>Generate Secret
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function generateSecret(id) {
            var url = '@Url.AbsoluteAction("GenerateSecret", "Client", new {id = "PARAMETER_ID"})';
            url = url.replace(/PARAMETER_ID/g, id);
            $.ajax({
                url: url,
                success: function(data) {
                    monkey.notify("Success", "Generate new secret for the Client", "success");
                    $("#Secret").val(data.secret);
                }
            });
        }
    </script>
}