@{
    <!-- Common -->
    string applicationName = "Monkey";
    string title = ViewData[Constants.ViewDataKey.Title]?.ToString() ?? applicationName;
    string description = ViewData[Constants.ViewDataKey.Description]?.ToString() ?? $"{applicationName}.";
    string imageUrl = ViewData[Constants.ViewDataKey.ImageUrl]?.ToString() ?? Url.AbsoluteContent("~/images/social-banner.jpg");
    string authorUrl = "https://www.facebook.com/pg/mixupvn";
    string publisherUrl = "https://www.facebook.com/pg/mixupvn";

    <!-- URL -->
    string pageUrl = ViewData[Constants.ViewDataKey.PageUrl]?.ToString() ?? Url.ActionContext.HttpContext.Request.GetDisplayUrl();
    string shareFacebookUrl = $"https://www.facebook.com/sharer.php?u={pageUrl}";
    string shareGooglePlusUrl = $"https://plus.google.com/share?url={pageUrl}";
    string shareTwitterUrl = $"https://twitter.com/intent/tweet?url={pageUrl}";

    <!-- Facebook -->
    string facebookType = ViewData[Constants.ViewDataKey.FacebookType]?.ToString() ?? "website";
    string facebookAppId = "<facebook app id>";
    string facebookAdminId = "<facebook admin page id>";
    string facebookPages = "<facebook page id>";

    <!-- Twitter -->
    string twitterType = ViewData[Constants.ViewDataKey.TwitterType]?.ToString() ?? "summary_large_image";
    string twitterSite = ViewData[Constants.ViewDataKey.TwitterSite]?.ToString() ?? "@Top";
}

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="text/html; charset=UTF-8; IE=edge">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
<meta name="author" content="Top Nguyen">
<meta name="web_author" content="http://topnguyen.net">
<meta name="designer" content="http://topnguyen.net">
<meta name="language" content="VN">

<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-title" content="@applicationName">
<meta name="application-name" content="@applicationName">
<meta name="HandheldFriendly" content="True">
<meta name="referrer" content="origin">
<meta name="robots" content="noodp">

<title>@title</title>
<meta name="title" content="@title">
<meta name="description" content="@description">

<link rel="author" href="@authorUrl" />
<link rel="publisher" href="@publisherUrl">
<link rel="canonical" href="@pageUrl">
<link rel="image_src" href="@imageUrl">

<meta itemprop="name" content="@title">
<meta itemprop="image" content="@imageUrl">
<meta itemprop="description" content="@description">

<!-- Open Graph -->
<meta property="og:site_name" content="@applicationName">
<meta property="og:locale" content="vi_VN">
<meta property="og:title" content="@title">
<meta property="og:url" content="@pageUrl">
<meta property="og:image" content="@imageUrl">
<meta property="og:type" content="@facebookType">
<meta property="og:description" content="@description">

<!-- Facebook -->
<meta property="fb:app_id" content="@facebookAppId" />
<meta property="fb:admins" content="@facebookAdminId" />
<meta property="fb:pages" content="@facebookPages" />

<!-- Twitter -->
<meta name="twitter:site" content="@twitterSite">
<meta name="twitter:card" content="@twitterType" />
<meta name="twitter:url" content="@pageUrl">
<meta name="twitter:title" content="@title" />
<meta name="twitter:image" content="@imageUrl" />
<meta name="twitter:description" content="@description" />

<script type="text/javascript">
    var shareSocialUrl = {
        facebook: "@shareFacebookUrl",
        googlePlus: "@shareGooglePlusUrl",
        twitterUrl: "@shareTwitterUrl"
    }
</script>