@using Monkey.Core.Constants
@using Puppy.Web.HtmlHelperUtils
@model Monkey.Core.Models.UpdateImageModel
@{
    ViewData[Constants.ViewDataKey.Title] = "Monkey | Portal - Image - Edit";
}

<div class="page-header">
    <h1 class="page-title">Edit Image</h1>
</div>
<div class="page-content">
    <div class="row">
        <div class="col-lg-6 center-col">
            <div class="panel">
                <div class="panel-body">
                    <form asp-controller="Image" asp-action="SubmitEdit" method="post" enctype="multipart/form-data" asp-antiforgery="true" role="form">

                        <input type="hidden" asp-for="Id" />

                        <div class="form-group form-material" data-plugin="formMaterial">
                            <label asp-for="Caption" class="form-control-label" for="@nameof(Model.Caption)"></label>
                            <input asp-for="Caption" class="form-control" />
                            <span asp-validation-for="Caption"></span>
                        </div>

                        <div class="form-group form-material" data-plugin="formMaterial">
                            <label asp-for="File" class="form-control-label" for="@nameof(Model.File)"></label>
                            <input data-plugin="dropify" data-height="200" asp-for="File" data-bind-type="color-dominant" data-bind-to="#@nameof(Model.ImageDominantHexColor)" data-default-file="@Url.AbsoluteContent(Model.Url)" class="form-control" type="file">
                            <span asp-validation-for="File"></span>
                        </div>

                        <div class="form-group form-material" data-plugin="formMaterial">
                            <label asp-for="ImageDominantHexColor" class="form-control-label" for="@nameof(Model.ImageDominantHexColor)"></label>
                            <br />
                            <input asp-for="ImageDominantHexColor" class="form-control" value="@Model.ImageDominantHexColor" data-plugin="asColorPicker"
                                   data-mode="complex" type="text" />
                            <span asp-validation-for="ImageDominantHexColor"></span>
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-material">
                                <a class="btn btn-default ladda-button btn-block" data-style="slide-right" data-plugin="ladda" href="@Url.AbsoluteAction("Index", "Image")">
                                    <span class="ladda-label">
                                        <i class="icon md-long-arrow-left mr-10" aria-hidden="true"></i>Back
                                    </span>
                                </a>
                            </div>
                            <div class="col-md-6 form-material">
                                <button type="submit" class="btn btn-primary ladda-button btn-block" data-style="slide-right" data-plugin="ladda">
                                    <span class="ladda-label">
                                        <i class="icon md-check mr-10" aria-hidden="true"></i>Save
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>