@using Monkey.Core.Constants
@using Puppy.Web.HtmlHelperUtils
@model Monkey.Core.Models.UpdateImageModel
@{
    ViewData[Constants.ViewDataKey.Title] = "Monkey | Portal - Image - Edit";
}

<div class="page-header">
    <h1 class="page-title">Edit Image</h1>
</div>
<div class="page-content">
    <div class="row">
        <div class="col-lg-6 center-col">
            <div class="panel">
                <div class="panel-body">
                    <form asp-controller="Image" asp-action="SubmitEdit" method="post" enctype="multipart/form-data" asp-antiforgery="true" role="form">

                        <input type="hidden" asp-for="Id" />

                        <div class="form-group form-material" data-plugin="formMaterial">
                            <label asp-for="Caption" class="form-control-label" for="@nameof(Model.Caption)"></label>
                            <input asp-for="Caption" class="form-control" />
                            <span asp-validation-for="Caption"></span>
                        </div>
                       
                        <label asp-for="File" class="form-control-label" for="@nameof(Model.File)">File input</label>
                        <input data-plugin="dropify" data-height="200" id="uploadImage" asp-for="File" data-default-file="@Url.AbsoluteContent(Model.Url)" class="form-control" type="file">
                        <span asp-validation-for="File"></span>

                        <div hidden="hidden" class="form-group form-material" data-plugin="formMaterial">
                            <img style="width: 100%;" id="imageDemo" src="@Url.AbsoluteContent(Model.Url)">
                        </div>      
                        <div class="example" data-plugin="formMaterial">
                            <label asp-for="ImageDominantHexColor" class="form-control-label" for="@nameof(Model.ImageDominantHexColor)">Image Dominant Color</label>
                            <input id="imageDominantHexColor" asp-for="ImageDominantHexColor" class="form-control" value="@Model.ImageDominantHexColor" data-plugin="asColorPicker"
                                   data-mode="complex" type="text" />
                            <span asp-validation-for="ImageDominantHexColor"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group form-material">
                                <a class="btn btn-default ladda-button btn-block" data-style="slide-right" data-plugin="ladda" href="@Url.AbsoluteAction("Index", "Image")">
                                    <span class="ladda-label">
                                        <i class="icon md-long-arrow-left mr-10" aria-hidden="true"></i>Back
                                    </span>
                                </a>
                            </div>
                            <div class="col-md-6 form-group form-material">
                                <button type="submit" class="btn btn-primary ladda-button btn-block" data-style="slide-right" data-plugin="ladda">
                                    <span class="ladda-label">
                                        <i class="icon md-check mr-10" aria-hidden="true"></i>Save
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        function rgbToHex(r, g, b) {
            return "#" + ((1 << 24) + (r << 16) + (g << 8) + b).toString(16).slice(1);
        }

        $(document).ready(function () {
            $("#uploadImage").on("change",
                function () {
                    readUrl(this);
                });

            function readUrl(input) {
                var fileReader = new FileReader();
                fileReader.onload = function (fileLoadedEvent) {
                    var base64 = fileLoadedEvent.target.result;
                    $("#imageDemo").attr("src", base64);

                    var image = document.querySelector('#imageDemo');
                    image.onload = function () {
                        var colorThief = new ColorThief();
                        var color = colorThief.getColor(image);
                        var hexColor = rgbToHex(color[0], color[1], color[2]);
                        $("#imageDominantHexColor").asColorPicker('val', hexColor);
                    };
                }
                fileReader.readAsDataURL(input.files[0]);
            }
        });
    </script>

}