@using Puppy.Web.HtmlHelperUtils
@model Monkey.Core.Models.Auth.UserUpdateModel
@{
    ViewData[Constants.ViewDataKey.Title] = "Owl | Portal - User - Edit";
    var listRole = ViewBag.RoleSelectList as List<SelectListItem>;
}

<div class="page-header">
    <h1 class="page-title">Edit User</h1>
</div>
<div class="page-content">
    <div class="row">
        <div class="col-lg-6 center-col">
            <div class="panel">
                <div class="panel-body">
                    @using (Html.BeginForm("SubmitEdit", "User", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(x => x.Id)

                        <div class="form-group form-material" data-plugin="formMaterial">
                            @Html.LabelFor(m => m.UserName, new {@class = "form-control-label", @for = $"{nameof(Model.UserName)}"})
                            @Html.TextBoxFor(m => m.UserName, new {@class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.UserName)
                        </div>

                        <div class="form-group form-material" data-plugin="formMaterial">
                            @Html.LabelFor(m => m.Email, new {@class = "form-control-label", @for = $"{nameof(Model.Email)}"})
                            @Html.TextBoxFor(m => m.Email, new {@class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>

                        <div class="form-group form-material" data-plugin="formMaterial">
                            @Html.LabelFor(m => m.Phone, new {@class = "form-control-label", @for = $"{nameof(Model.Phone)}"})
                            @Html.TextBoxFor(m => m.Phone, new {@class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Phone)
                        </div>

                        if (listRole?.Any() == true)
                        {
                            <div class="form-group form-material" data-plugin="formMaterial">
                                @Html.LabelFor(m => m.RoleId, new {@class = "form-control-label", @for = $"{nameof(Model.RoleId)}"})
                                @Html.DropDownListFor(model => model.RoleId, listRole, new {@class = "form-control"})
                                @Html.ValidationMessageFor(model => model.RoleId)
                            </div>
                        }

                        <div class="checkbox-custom checkbox-primary">
                            @Html.CheckBoxFor(m => m.IsBanned, new {@class = "form-control", @checked = Model.IsBanned ? "checked" : string.Empty})
                            @Html.LabelFor(m => m.IsBanned, new {@for = $"{nameof(Model.IsBanned)}"})
                            @Html.ValidationMessageFor(model => model.IsBanned)
                        </div>

                        <div class="form-group form-material" data-plugin="formMaterial">
                            @Html.LabelFor(m => m.BannedRemark, new {@class = "form-control-label", @for = $"{nameof(Model.BannedRemark)}"})
                            @Html.TextAreaFor(m => m.BannedRemark, new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.BannedRemark)
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group form-material">
                                <a class="btn btn-default ladda-button btn-block" data-style="slide-right" data-plugin="ladda" href="@Url.AbsoluteAction("Index", "User")">
                                    <span class="ladda-label">
                                        <i class="icon md-long-arrow-left mr-10" aria-hidden="true"></i>Back
                                    </span>
                                </a>
                            </div>
                            <div class="col-md-6 form-group form-material">
                                <button type="submit" class="btn btn-primary ladda-button btn-block" data-style="slide-right" data-plugin="ladda">
                                    <span class="ladda-label">
                                        <i class="icon md-edit mr-10" aria-hidden="true"></i>Save Changes
                                    </span>
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>