@model Monkey.Core.Models.User.UpdateUserModel
@{
    ViewData[Constants.ViewDataKey.Title] = "Monkey | Portal - User - Edit";
    var listRole = ViewBag.RoleSelectList as List<SelectListItem>;
}

<div class="page-header">
    <h1 class="page-title">Edit User</h1>
</div>
<div class="page-content">
    <div class="row">
        <div class="col-lg-6 center-col">
            <div class="panel">
                <div class="panel-body">
                    <form asp-controller="User" asp-action="SubmitEdit" method="post" enctype="multipart/form-data" asp-antiforgery="true" role="form">

                        <input type="hidden" asp-for="Id" />

                        <div class="form-group form-material" data-plugin="formMaterial">
                            <label asp-for="FullName" class="form-control-label" for="@nameof(Model.FullName)"></label>
                            <input asp-for="FullName" class="form-control" />
                            <span asp-validation-for="FullName"></span>
                        </div>

                        <div class="form-group form-material" data-plugin="formMaterial">
                            <label asp-for="Email" class="form-control-label" for="@nameof(Model.Email)"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email"></span>
                        </div>

                        <div class="form-group form-material" data-plugin="formMaterial">
                            <label asp-for="Phone" class="form-control-label" for="@nameof(Model.Phone)"></label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone"></span>
                        </div>

                        <div class="form-group form-material" data-plugin="formMaterial">
                            <label asp-for="UserName" class="form-control-label" for="@nameof(Model.UserName)"></label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName"></span>
                        </div>

                        <div class="form-group form-material" data-plugin="formMaterial">
                            <label asp-for="RoleId" class="form-control-label" for="@nameof(Model.RoleId)"></label>
                            <select asp-for="RoleId" class="form-control" asp-items="@listRole"></select>
                            <span asp-validation-for="RoleId"></span>
                        </div>

                        <div class="checkbox-custom checkbox-primary">
                            @if (Model.IsBanned)
                            {
                                <input asp-for="IsBanned" type="checkbox" class="form-control" checked="checked" />
                            }
                            else
                            {
                                <input asp-for="IsBanned" type="checkbox" class="form-control" />
                            }
                            <label asp-for="IsBanned" class="form-control-label" for="@nameof(Model.IsBanned)"></label>
                            <span asp-validation-for="IsBanned"></span>
                        </div>

                        <div class="form-group form-material" data-plugin="formMaterial">
                            <label asp-for="BannedRemark" class="form-control-label" for="@nameof(Model.BannedRemark)"></label>
                            <input asp-for="BannedRemark" class="form-control" />
                            <span asp-validation-for="BannedRemark"></span>
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-material">
                                <a class="btn btn-default ladda-button btn-block" data-style="slide-right" data-plugin="ladda" href="@Url.AbsoluteAction("Index", "User")">
                                    <span class="ladda-label">
                                        <i class="icon md-long-arrow-left mr-10" aria-hidden="true"></i>Back
                                    </span>
                                </a>
                            </div>
                            <div class="col-md-6 form-material">
                                <button type="submit" class="btn btn-primary ladda-button btn-block" data-style="slide-right" data-plugin="ladda">
                                    <span class="ladda-label">
                                        <i class="icon md-check mr-10" aria-hidden="true"></i>Save
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>