@using Monkey.Areas.Portal.Controllers
@using Monkey.Core.Models.User
@using Puppy.DataTable
@using Puppy.DataTable.Models.Config.Column
@using Constants = Monkey.Constants
@{
    ViewData[Constants.ViewDataKey.Title] = "Monkey | Portal - User";

    var model = Html.DataTableModel(Guid.NewGuid().ToString("N"), (UserController controller) => controller.GetDataTable(null));
    model.IsUseColumnFilter = true;
    model.DrawCallbackFunctionName = "drawCallBack";
    model.Columns.Add(new ColumnModel("Action", typeof(string))
    {
        DisplayName = "Action",
        IsSearchable = false,
        IsSortable = false,
        MRenderFunction = "actionRender",
    });

    var avatarUrlCol = model.Columns.FirstOrDefault(x => x.Name == nameof(UserModel.AvatarUrl));

    if (avatarUrlCol != null)
    {
        avatarUrlCol.MRenderFunction = "renderAvatar";
    }

    model.GlobalJsVariableName = "oTable";
}

<div class="page-header">
    <h1 class="page-title">Users</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:;">Authentication</a></li>
        <li class="breadcrumb-item active">User</li>
    </ol>
    <div class="page-header-actions">
        <a class="btn btn-sm btn-primary btn-round waves-effect waves-classic ladda-button" data-style="slide-right" data-plugin="ladda" href="@Url.AbsoluteAction("Add", "User")">
            <i class="icon md-plus" aria-hidden="true"></i>
            <span class="hidden-sm-down">Add User</span>
        </a>
    </div>
</div>
<div class="page-content">
    <div class="panel">
        <div class="panel-body">
            @await Html.PartialAsync("/Areas/Portal/Views/Shared/DataTable/_DataTableHtml.cshtml", model).ConfigureAwait(true)
        </div>
    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("/Areas/Portal/Views/Shared/DataTable/_DataTableScript.cshtml", model).ConfigureAwait(true)

    <script type="text/javascript">
        function drawCallBack(oSettings) {
            Monkey.initToolTip();
            Monkey.initConfirmDialog();
        }

        var loggedInUserId = parseInt('@LoggedInUser.Current?.Id');

        function renderAvatar(data, type, row) {
            if (!data || data.length <= 0) {
                return '<div class="col-lg-8 text-center"><img src="@Url.AbsoluteContent("~/portal/images/no-avatar.jpg")")" class="avatar" /></div>';
            }
            return '<div class="col-lg-8 text-center"><img src="' + data + '" class="avatar" /></div>';
        }

        function actionRender(data, type, row) {
            var id = parseInt(row[0]);

            if (id === loggedInUserId) {
                return '';
            }

            // Edit
            var editUrl = '@Url.AbsoluteAction("Edit", "User", new {id = "PARAMETER_ID"})';
            editUrl = editUrl.replace(/PARAMETER_ID/g, id);
            var editEle = '<a href="' + editUrl + '" class="btn btn-sm btn-icon btn-pure btn-default on-default waves-effect waves-classic" data-toggle="tooltip" data-original-title="Edit"><i class="icon md-edit" aria-hidden="true"></i></a>';

            // Remove
            var removeEle =
                '<a href="javascript:;" ' +
                    'data-plugin="confirm" ' +
                    'data-confirm-title="ARE YOU SURE?" ' +
                    'data-confirm-message="Are you sure that you want to delete this user?" ' +
                    'data-confirm-yes-title="Deleted!" ' +
                    'data-confirm-yes-message="Delete the user successful" ' +
                    'data-confirm-yes-callback="remove(\'' + id + '\')" ' +
                    'data-confirm-no-title="Cancelled" ' +
                    'data-confirm-no-message="The user is safe :)" ' +
                    'class="btn btn-sm btn-icon btn-pure btn-default on-default waves-effect waves-classic" data-toggle="tooltip" data-original-title="Remove"><i class="icon md-delete" aria-hidden="true"></i></a>';

            return editEle + removeEle;
        }

        function remove(id) {
            var url = '@Url.AbsoluteAction("Remove", "User", new {id = "PARAMETER_ID"})';
            url = url.replace(/PARAMETER_ID/g, id);

            $.ajax({
                url: url,
                success: function(data) {
                    oTable.api().ajax.reload();
                }
            });
        }
    </script>
}